.col-1 {
  background-color: yellow;
}
.col-2 {
  background-color: rgb(16, 245, 16);
}
.col-3 {
  background-color: rgb(33, 225, 231);
}
.col-4 {
  background-color: rgb(80, 179, 245);
}
.col-6 {
  background-color: purple;
}
.col-12 {
  background-color: palevioletred;
}